extends ../layout


block styles
    style(type='text/css').
        /* Assumes the page won't ever grow past the height of the screen */
        .container {
            margin-bottom: 60px
        }
        .footer {
            position: fixed;
            bottom: 0;
        }

block content
    .performers
        .intro-container.vertical-center
            .center
                h1
                    +translate('performers.title')
                h3
                    +translate('performers.description')

        +slidingFrames(3)
            +framedContent("/images/framed-pic-sample.png", 'left', '/performers/audio')(class="audio-performers")
                h2
                    +translate('performers.audio.title')
                p
                    +translate('performers.audio.description')
                h5
                    +translate('pound.the.ground')

            +framedContent("/images/framed-pic-sample.png", 'right', '/performers/visual')(class="visual-performers")
                h2
                    +translate('performers.visual.title')
                p
                    +translate('performers.visual.description')
                h5
                    +translate('pound.the.ground')

            +framedContent("/images/framed-pic-sample.png", 'left', '/performers/the-tribe')(class="the-tribe")
                h2
                    +translate('performers.tribe.title')
                p
                    +translate('performers.tribe.description')
                h5
                    +translate('pound.the.ground')

block scripts
    script(type="application/javascript" src="/javascripts/custom/sliding-frames.js")
