extends ../layout

block content
    +framedContent("/images/framed-pic-sample.png", 'left')(class="audio-performers")
        h2 Audio Performers
        p A team of dedicated musicians and sound wizards who brewed their best tracks to tickle both your ears and your brain!
        h5 -Pound the Ground

    +framedContent("/images/framed-pic-sample.png", 'right')(class="visual-performers")
        h2 Visual Performers
        p A team of inspired artists to sprinkle magic all around the stomping ground to bring about some truly out-of-this world experience, right there, for you!
        h5 -Pound the Ground
    +framedContent("/images/framed-pic-sample.png", 'left')(class="the-tribe")
        h2 The Tribe
        p None of this would be possible without the dedication of the Altered Tribe who has been hard at work for the past several years to bring together this experience
        h5 -Pound the Ground
