extends ../layouts/sunfest

block content
  header.site-header
    .header-bar
      .container-fluid
        .row.align-items-center
          .col-10.col-lg-4
            h1.site-branding.flex
              a(href='#') SUNFEST
          .col-2.col-lg-8
            nav.site-navigation
              .hamburger-menu.d-lg-none
                span
                span
                span
                span
              // .hamburger-menu
              ul
                if user
                  if user.canAccessKeystone
                    li: a(href='/keystone') Open Keystone
                  li: a(href='/keystone/signout') Sign Out
                else
                  li: a(href='/keystone/signin') Sign In
              // flex
            // .site-navigation
          // .col-12
        // .row
      // container-fluid
    // header-bar
  // .site-header
  .hero-content
    .container
      .row
        .col-12.offset-lg-2.col-lg-10
          .entry-header
            h2 Hello world!
            .entry-meta-date
              | 06.28.018
            // .entry-meta-date
          // .entry-header
          .countdown.flex.flex-wrap.justify-content-between(data-date='2018/06/06')
            .countdown-holder
              .dday
              label Days
            // .countdown-holder
            .countdown-holder
              .dhour
              label Hours
            // .countdown-holder
            .countdown-holder
              .dmin
              label Minutes
            // .countdown-holder
            .countdown-holder
              .dsec
              label Seconds
            // .countdown-holder
          // .countdown
        // .col-12
      // row
      .row
        .col-12
          .entry-footer
            a.btn(href='#') Buy Tickets
            a.btn.current(href='#') See Lineup
    // .container
  // .hero-content
  .content-section
    .container
      .row
        .col-12
          .lineup-artists-headline
            .entry-title
              p JUST THE BEST
              h2 The Lineup Artists-Headliners
            // entry-title
            .lineup-artists
              .lineup-artists-wrap.flex.flex-wrap
                figure.featured-image
                  a(href='#')
                    img(src='images/black-chick.jpg' alt='')
                // featured-image
                .lineup-artists-description
                  .lineup-artists-description-container
                    .entry-title
                      | Jamila Williams
                    // entry-title
                    .entry-content
                      p
                        | Quisque at erat eu libero consequat tempus. Quisque mole stie convallis tempus. Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum.
                    // entry-content
                    .box-link
                      a(href='')
                        img(src='images/box.jpg' alt='')
                    // box-link
                  // lineup-artists-description-container
                // lineup-artists-description
              // lineup-artists-wrap
              .lineup-artists-wrap.flex.flex-wrap
                .lineup-artists-description
                  figure.featured-image.d-md-none
                    a(href='#')
                      img(src='images/mathew-kane.jpg' alt='')
                  // featured-image
                  .lineup-artists-description-container
                    .entry-title
                      | Sandra Superstar
                    // entry-title
                    .entry-content
                      p
                        | Quisque at erat eu libero consequat tempus. Quisque mole stie convallis tempus. Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum.
                    // entry-content
                    .box-link
                      a(href='#')
                        img(src='images/box.jpg' alt='')
                    // box-link
                  // lineup-artists-description-container
                // lineup-artists-description
                figure.featured-image.d-none.d-md-block
                  a(href='#')
                    img(src='images/mathew-kane.jpg' alt='')
                // featured-image
              // lineup-artists-wrap
              .lineup-artists-wrap.flex.flex-wrap
                figure.featured-image
                  a(href='#')
                    img(src='images/eric-ward.jpg' alt='')
                // featured-image
                .lineup-artists-description
                  .lineup-artists-description-container
                    .entry-title
                      | DJ Crazyhead
                    // entry-title
                    .entry-content
                      p
                        | Quisque at erat eu libero consequat tempus. Quisque mole stie convallis tempus. Ut semper purus metus, a euismod sapien sodales ac. Duis viverra eleifend fermentum.
                    // entry-content
                    .box-link
                      a(href='#')
                        img(src='images/box.jpg' alt='')
                    // box-link
                  // lineup-artists-description-container
                // lineup-artists-description
              // lineup-artists-wrap
            // lineup-artists
          // lineup-artists-headline
        // col-12
      // row
      .row
        .col-12
          .the-complete-lineup
            .entry-title
              p JUST THE BEST
              h2 The Complete Lineup
            // entry-title
            .row.the-complete-lineup-artists
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-1.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 Miska Smith
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-2.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 Hayley Down
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-3.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 The Band Song
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-4.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 Pink Machine
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-5.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 Brasil Band
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-6.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 Mickey
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-7.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 DJ Girl
              // artist-single
              .col-6.col-md-4.col-lg-3.artist-single
                figure.featured-image
                  a(href='#')
                    img(src='images/image-8.jpg' alt='')
                  a.box-link(href='#')
                    img(src='images/box.jpg' alt='')
                // featured-image
                h2 Stan Smith
              // artist-single
            // the-complete-lineup-artists
            .row.justify-content-center
              .see-complete-lineup
                .entry-footer
                  a.btn(href='#') See all lineup
          // the-complete-lineup
        // col-12
      // row
    // container
    .homepage-next-events
      .container
        .row
          .col-12
            .entry-title
              p JUST THE BEST
              h2 Our Next Events
            // entry-title
          // col-12
        // row
      // container
      .next-event-slider-wrap
        .swiper-container.next-event-slider
          .swiper-wrapper
            .swiper-slide
              .next-event-content
                figure.featured-image
                  img(src='images/next-event-1.jpg' alt='')
                  a.entry-content.flex.flex-column.justify-content-center.align-items-center(href='#')
                    h3 Welcoming Party 2018
                    p Green Palace, 22 Street, 23-28, Los Angeles California
                // featured-image
              // next-event-content
            // swiper-slide"
            .swiper-slide
              .next-event-content
                figure.featured-image
                  img(src='images/next-event-2.jpg' alt='')
                  a.entry-content.flex.flex-column.justify-content-center.align-items-center(href='#')
                    h3 Welcoming Party 2018
                    p Green Palace, 22 Street, 23-28, Los Angeles California
                // featured-image
              // next-event-content
            // swiper-slide"
            .swiper-slide
              .next-event-content
                figure.featured-image
                  img(src='images/next-event-3.jpg' alt='')
                  a.entry-content.flex.flex-column.justify-content-center.align-items-center(href='#')
                    h3 Welcoming Party 2018
                    p Green Palace, 22 Street, 23-28, Los Angeles California
                // featured-image
              // next-event-content
            // swiper-slide"
            .swiper-slide
              .next-event-content
                figure.featured-image
                  img(src='images/next-event-1.jpg' alt='')
                  a.entry-content.flex.flex-column.justify-content-center.align-items-center(href='#')
                    h3 Welcoming Party 2018
                    p Green Palace, 22 Street, 23-28, Los Angeles California
                // featured-image
              // next-event-content
            // swiper-slide"
            .swiper-slide
              .next-event-content
                figure.featured-image
                  img(src='images/next-event-2.jpg' alt='')
                  a.entry-content.flex.flex-column.justify-content-center.align-items-center(href='#')
                    h3 Welcoming Party 2018
                    p Green Palace, 22 Street, 23-28, Los Angeles California
                // featured-image
              // next-event-content
            // swiper-slide"
            .swiper-slide
              .next-event-content
                figure.featured-image
                  img(src='images/next-event-3.jpg' alt='')
                  a.entry-content.flex.flex-column.justify-content-center.align-items-center(href='#')
                    h3 Welcoming Party 2018
                    p Green Palace, 22 Street, 23-28, Los Angeles California
                // featured-image
              // next-event-content
            // swiper-slide"
          // .swiper-wrapper
        // .swiper-container
        .swiper-button-next
          img(src='images/button.png' alt='')
        // .slider-button
      // .next-event-slider-wrap
    // homepage-next-events
    .home-page-last-news
      .container
        .header
          .entry-title
            p JUST THE BEST
            h2 Our Last News
          // entry-title
        // header
        .home-page-last-news-wrap
          .row
            .col-12.col-md-6
              figure.featured-image
                a(href='#')
                  img(src='images/news-image-1.jpg' alt='fesival+celebration')
              // featured-image
              .box-link-date
                a(href='#') 03.12.18
              .content-wrapper
                .entry-content
                  .entry-header
                    h2
                      a(href='#') 10 Festival Tips
                  // entry-header
                  .entry-meta
                    span.author-name
                      a(href='#')  By James Williams
                    span.space |
                    span.comments-count
                      a(href='#') 3 comments
                  // entry-meta
                  .entry-description
                    p
                      | Quisque at erat eu libero consequat tempus.
                      | Quisque mole stie convallis tempus.
                      | Ut semper purus metus, a euismod sapien sodales ac.
                      | Duis viverra eleifend fermentum.
                  // entry-description
                // entry-content
              // content-wrapper
            // .col-6
            .col-12.col-md-6
              figure.featured-image
                a(href='#')
                  img(src='images/news-image-1.jpg' alt='fesival+celebration')
              // featured-image
              .box-link-date
                a(href='') 03.12.18
              .content-wrapper
                .entry-content
                  .entry-header
                    h2
                      a(href='#') New event calendar for this year
                  // entry-header
                  .entry-meta
                    span.author-name
                      a(href='#') By James Williams
                    span.space |
                    span.comments-count
                      a(href='#') 3 comments
                  // entry-meta
                  .entry-description
                    p
                      | Quisque at erat eu libero consequat tempus.
                      | Quisque mole stie convallis tempus.
                      | Ut semper purus metus, a euismod sapien sodales ac.
                      | Duis viverra eleifend fermentum.
                  // entry-description
                // entry-content
              // .content-wrapper
            // col-6
          // row
        // home-page-last-news-wrap
      // container
    // home-page-last-news
  footer.site-footer
    .footer-cover-title.flex.justify-content-center.align-items-center
      h2 SUNFEST
    // .site-footer
    .footer-content-wrapper
      .container
        .row
          .col-12
            .entry-title
              a(href='#') SUNFEST
            // entry-title
            .entry-mail
              a(href='#') SAYHELLO@SUNFEST.COM
            // .entry-mail
            .copyright-info
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              | Copyright ©
              script.
                document.write(new Date().getFullYear());
              |  All rights reserved | This template is made with 
              i.fa.fa-heart(aria-hidden='true')
              |  by 
              a(href='https://colorlib.com' target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            // copyright-info
            .footer-social
              ul.flex.justify-content-center.align-items-center
                li
                  a(href='#')
                    i.fab.fa-pinterest
                li
                  a(href='#')
                    i.fab.fa-facebook-f
                li
                  a(href='#')
                    i.fab.fa-twitter
                li
                  a(href='#')
                    i.fab.fa-dribbble
                li
                  a(href='#')
                    i.fab.fa-behance
                li
                  a(href='#')
                    i.fab.fa-linkedin-in
            // footer-social
          // col
        // row
      // container
    // footer-content-wrapper
  // site-footer