extends layout

block content
    .construction
        h1 Work in progress
        p The tribe is hard at work bringing you the best altered forest experience they are able to provide.
        p Come back in a few days to explore the website further and learn more about the wonderful surprises the tribe is brewing!