doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")


  body
    .header
      .navbar
        span.logo AF
        .right
          span.performers Performers
          span.news News
          span.location Location
          span.gallery Gallery
          span.infos Infos
          span.tickets Tickets
    .container
      .content
        block content

    .footer
      .social
        span.fab.fa-facebook
        span.fab.fa-twitter

  script(type="application/javascript" src="javascripts/jquery-3.3.1.slim.min.js")
  block scripts