extends layout

block content
    .tickets
        div#my-store-16170922
        div

block scripts
    script(
        data-cfasync="false"
        type="text/javascript"
        src="https://app.ecwid.com/script.js?16170922&data_platform=code&data_date=2019-01-20"
        charset="utf-8")
    script(type="text/javascript" src="/javascripts/custom/tickets.js")
