.socials
    margin: 15px 0

    .social
        margin: 0 5px
        color: white
        text-decoration: none
        display: inline-block

        i
            font-size: 150%
            margin: 0 10px 0 0


.framed-text
    margin-bottom: 25px

    color: white
    text-decoration: none !important

    img.framed-image
        height: 300px
        -webkit-shape-outside: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%)
        shape-outside: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%)
        margin-bottom: 10px

    img.spacer
        width: 200px
        height: 200px
        visibility: hidden

    &.left img.spacer
        float: right
        -webkit-shape-outside: polygon(100% 100%, 100% 100%, 100% 10%, 0% 10%)
        shape-outside: polygon(100% 100%, 100% 100%, 100% 10%, 0% 10%)
    &.right img.spacer
        -webkit-shape-outside: polygon(0% 100%, 0% 100%, 100% 10%, 0% 10%)
        shape-outside: polygon(0% 100%, 0% 100%, 100% 10%, 0% 10%)
        float: left

    &.left img.framed-image
        float: left
        margin-right: 50px;

    &.right img.framed-image
        float: right
        margin-left: 50px;
        // shape-outside: polygon(50% 0%, 50% 0%, 90% 100%, 10% 100%)
        // -webkit-shape-outside: polygon(50% 0%, 50% 0%, 90% 100%, 10% 100%)

    .text-container
        // seems impossible to align vertically without screwing up the triangle shape :(
        // text-align: justify
        padding-top: 20px;
        margin-bottom: 50px;
        min-height: 240px;

        .text-content
            padding: 0 10px;
            border: 5px solid black
            border-radius: 2px
            background-color: rgba(0, 0, 64, 0.8)
            box-shadow: 5px 5px 20px black
            text-align: justify

        p
            font-size: 120%

    &.left
        text-align: left
        > .text-container
            margin-left: 175px

    &.right
        text-align: right;

        > .text-container
            margin-right: 175px
            // display: inline-block

a.framed-text
    h1
    h2
        text-decoration: underline

// hack to retain ability to scroll until all content is past the foooter
// because that damn framed-text div isn't expanding to the size of the content the way it should... -_-''
.framed-text:last-child
    .text-container
        .text-content
            margin-bottom: 'calc(%s + %s)' % (FOOTER_HEIGHT FOOTER_HEIGHT)


slider-controls-style()
    font-size: 100px
    // font-weight: 900;
    // font-family: "Font Awesome 5 Free";
    position: absolute
    cursor: pointer
    opacity: 0.5
    transition: opacity 500ms ease-in-out
    top: -150px
    z-index: 100
    fadingLightOn()


FRAME_MARGIN = 30vw
.sliding-frames // TODO: this should probably live in the `components.styl`?
    white-space: nowrap
    // overflow: hidden
    margin: '0 -%s' % (FRAME_MARGIN)
    position: relative

    > .previous
        // content: "\f0d9"
        slider-controls-style()
        left: calc(20vw + 25px);
        padding: 200px 400px 200px 100px
        margin-left: -100px

    > .previous:hover
        opacity: 1 !important

    > .next
        // content: "\f0da"
        slider-controls-style()
        right: calc(20vw + 25px);
        padding: 200px 100px 200px 400px
        margin-right: -100px

    > .next:hover
        opacity: 1 !important

    .framed-text
        display: inline-block
        white-space: initial;
        margin: 0 FRAME_MARGIN
        // half of 120vw, which is 100 + 20 added due to the negative 20vw margin
        // TODO: make that a
        transition: transform 300ms ease-out
        transform: translateX(0)
        // transform: translateX(calc(-120vw - 12.5px));

@media TABLET_PORTRAIT
    .framed-text.left
    .framed-text.right
        img
            height: 200px

    .framed-text.left
        img
            margin-right: 20px
        .text-container
            margin-left: 120px
    .framed-text.right
        img
            margin-left: 20px
        .text-container
            margin-right: 120px

@media PHONE_LANDSCAPE
    .framed-text.left
    .framed-text.right
        img
            height: 200px

    .framed-text.left
        img
            margin-right: 20px
        .text-container
            margin-left: 120px
    .framed-text.right
        img
            margin-left: 20px
        .text-container
            margin-right: 120px


@media PHONE_PORTRAIT
    .framed-text.left
    .framed-text.right
        // min-height: inherit

        img
            margin-left: -20px !important
            margin-right: -20px !important
            height: auto !important
            width: calc(100vw - 10px) !important
            margin-bottom: 20px !important
            shape-outside: none !important

        .text-container
            margin-left: 0 !important
            margin-right: 0 !important
            text-align: left !important

        .spacer
            display: none

for num in (1..SLIDING_FRAMES_MAX_NB)
    .sliding-frames.translate-{num}
        .framed-text
            transform: translateX("calc(%s - %s)" % (num * -100% num * FRAME_MARGIN * 2))
