.framed-text
    text-align: left
    height: 300px
    // overflow-y: auto

    img
        display: block
        float: left
        -webkit-shape-outside: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%)
        shape-outside: polygon(50% 0%, 50% 0%, 100% 100%, 0% 100%)
        height: 300px;
        margin-right: 50px;

    .text-container
        // seems impossible to align vertically without screwing up the triangle shape :(
        text-align: justify
        margin-left: 175px
        padding-top: 20px;

        .text-content
            padding: 0 10px;
            border: 2px solid white;
            background-color: rgba(0, 0, 64, 0.8)
            margin-bottom: FOOTER_HEIGHT

        p
            font: 14px Verdana, Geneva, sans-serif
            line-height: 1.3

@media PHONE_LANDSCAPE
    // .framed-text,
    .framed-text
        img
            height: 200px
            margin-right: 20px

        .text-container
            margin-left: 120px


@media PHONE_PORTRAIT
    // .framed-text,
    .framed-text
        img
            height: 150px

        .text-container
            margin-left: 90px
