PHONE_PORTRAIT_WIDTH = 600px
PHONE_LANDSCAPE_WIDTH = 850px
TABLET_PORTRAIT_WIDTH = 1000px
TABLET_LANDSCAPE_WIDTH = 1280px

PHONE_PORTRAIT = '(max-width: ' + PHONE_PORTRAIT_WIDTH + ')'
PHONE_LANDSCAPE = '(max-width: ' + PHONE_LANDSCAPE_WIDTH + ')'
TABLET_PORTRAIT = '(max-width: ' + TABLET_PORTRAIT_WIDTH + ')'
TABLET_LANDSCAPE = '(max-width: ' + TABLET_LANDSCAPE_WIDTH + ')'

CONTENT_MARGIN_TOP = 120px
CONTENT_MARGIN_TOP_MOBILE = 60px
FOOTER_HEIGHT = 67px
