.main-screen
    text-align: center

    .event-details
        .countdown
            span.component
                display: inline-block
                margin: 20px 5vw

                span.count
                    display: block

