.main-screen
    text-align: center
    margin-bottom: 90px

    .logo
        background-image: url('../images/title.png')
        background-position: center center
        background-repeat: no-repeat
        background-size: contain
        background-color: transparent
        height: "calc(50vh - %s)" % CONTENT_MARGIN_TOP

    .event-details-container
        height: 50vh
        position: relative

    .event-details
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 100%
        .date
            font-size: 300%
        .date
        .location
            text-shadow: 0px 0px 50px #000, 1px 1px 20px #000, 2px 2px 10px #000

        .countdown
            margin-top: 50px
            .component
                display: inline-block
                margin: 20px 5vw

                .count
                    display: block
                    font-size: 300%
                    margin-bottom: 5px

    .vision
        min-height: "calc(55vh - %s - %s)" % (FOOTER_HEIGHT CONTENT_MARGIN_TOP)


@keyframes fading-light
    100%
        opacity: 0.6
    0%
        opacity: 0

@media TABLET_LANDSCAPE
    .main-screen .event-details
        .date
            font-size: 200%
        .location
            font-size: 150%

@media PHONE_LANDSCAPE
    .countdown
        margin-right: -25px
        margin-left: -25px

        span.component
            margin: 20px 3vw !important

@media PHONE_PORTRAIT
    .main-screen
        .logo
            height: 40vh

        .event-details-container
            height: 50vh

            .event-details
                .date
                    font-size: 200%
                .location
                    font-size: 150%

                .countdown
                    margin-top: 10px

                    .component span.count
                        font-size: 220%
