PHONE_PORTRAIT_WIDTH = 600px
PHONE_LANDSCAPE_WIDTH = 850px
TABLET_PORTRAIT_WIDTH = 1100px
TABLET_LANDSCAPE_WIDTH = 1320px

PHONE_PORTRAIT = '(max-width: ' + PHONE_PORTRAIT_WIDTH + ')'
PHONE_LANDSCAPE = '(max-width: ' + PHONE_LANDSCAPE_WIDTH + ')'
TABLET_PORTRAIT = '(max-width: ' + TABLET_PORTRAIT_WIDTH + ')'
TABLET_LANDSCAPE = '(max-width: ' + TABLET_LANDSCAPE_WIDTH + ')'

CONTENT_MARGIN_TOP = 120px
CONTENT_MARGIN_TOP_MOBILE = 60px
FOOTER_HEIGHT = 67px
FOOTER_MARGIN = 25px
SLIDING_FRAMES_MAX_NB = 100

LINK_COLOR = #00B7FF
INPUT_FIELD_COLOR = rgba(7, 7, 28, 0.9)
INPUT_FIELD_BORDER_COLOR = rgba(25, 25, 64, 1.0)