
.performers
    .intro-container
        min-height: 20vh
        margin-bottom: 50px

        .center
            width: 100%


@media PHONE_LANDSCAPE
    // .performers .intro-container
        // min-height: 30vh

.gallery
    .intro-container
        height: 20vh
        margin-bottom: 50px

        .center
            width: 100%

@media PHONE_LANDSCAPE
    // .gallery .intro-container
        // min-height: 30vh
