.header
  nav.navbar
    +imgNavItem('logo', '/',  '/images/logos/final-notext.png')
    +imgNavItem('logo', 'https://app.etickets.to/buy/?e=17440',  '/images/logos/summer-tide.png', '_blank')
    .spacer
    +dropdownNavItem('performers', '/performers', translate('nav.performers.title'), [
      {link: '/performers/audio', text: translate('nav.performers.audio')},
      {link: '/performers/visual', text: translate('nav.performers.visual')},
      {link: '/performers/the-tribe', text: translate('nav.performers.tribe')}
    ])
    +navItem('news', '/news',  translate('nav.news'))
    +navItem('location', '/location',  translate('nav.location'))
    //- +navItem('gallery', '/gallery',  translate('nav.gallery'))
    +dropdownNavItem('gallery', '/gallery', translate('nav.gallery'), [
      {link: '/gallery/af2018', text: translate('gallery.albums.af2018.title')},
    ])
    +dropdownNavItem('info', '/info', translate('nav.info.title'), [
      {link: '/info/tips', text: translate('nav.info.tips')},
      {link: '/info/camping', text: translate('nav.info.camping')},
      {link: '/info/applications', text: translate('nav.info.applications')},
      {link: '/info/contact', text: translate('nav.info.contact')},
    ])
    +navItem('tickets', 'https://app.etickets.to/buy/?e=17432',  translate('nav.tickets'), '_blank')
    if lang == 'fr'
      +navItem('english', '/lang/en?url=' + url,  'English')
    else
      +navItem('francais', '/lang/fr?url=' + url,  'Francais')
  nav.mobile-navbar
    +imgNavItem('logo', '/',  '/images/logos/final-notext.png')
    +imgNavItem('logo', 'https://app.etickets.to/buy/?e=17440',  '/images/logos/summer-tide.png', '_blank')
    .spacer
    .nav-item
      .content
        a.highlight
          span.fas.fa-bars
      .dropdown
        +navItem('performers', '/performers',  translate('nav.performers.title'))
        +navItem('news', '/news',  translate('nav.news'))
        +navItem('location', '/location',  translate('nav.location'))
        +navItem('gallery', '/gallery',  translate('nav.gallery'))
        +navItem('info', '/info',  translate('nav.info.title'))
        +navItem('tickets', 'https://app.etickets.to/buy/?e=17432',  translate('nav.tickets'), '_blank')
        if lang == 'fr'
          +navItem('english', '/lang/en?url=' + url,  'English')
        else
          +navItem('francais', '/lang/fr?url=' + url,  'Francais')

