extends layout

block content
    .construction
        .intro-container
            h1= translate('wip.title')
            p= translate('wip.descriptionP1')
            p= translate('wip.descriptionP2')
