extends layout

block content
    .construction
        .intro-container
            h1= translate('wip.title')
            p= translate('wip.descriptionP1')
            p= translate('wip.descriptionP2')
    a(class="twitter-timeline" href="https://twitter.com/AlteredForest?ref_src=twsrc%5Etfw")
        | Tweets by AlteredForest
    script(src="https://platform.twitter.com/widgets.js" charset="utf-8")