extends ../layout

block content
    .info
        .intro-container
            .center
                h1.with-shadows= translate('nav.info.camping')
        +articleBlock('/images/camping.jpg')
            p We’ve all been to events and have seen the mess that can be left post-party. The natural beauty of The Altered Forest shall not be sullied by slobbery! So we’re enlisting your help to make sure it doesn’t happen. Of course we’ll arm you with the tools to make it easy. Everyone gets a black and a clear garbage bag, the black one for refuse and the clear one for recycling.

            h2 Washrooms are shared by Everyone!
            p The Toilets will be cleaned throughout the festival, but let’s all do our part to make sure they’re as nice to use as possible!

            h2 Bring in, Bring Out!
            p Brought something with you? Take it when you leave! We’re close by a provincial park, so let’s abide by the same rules and leave no trace.

            h2 Garbage Cans Abound!
            p Refuse and recycling receptacles will be placed all over the festival grounds, so do your part by keeping clean! Help us out even further by tossing out any trash you come across during the party!

            h2 Butt Cans Abound Too!
            p We hate dirty butts and we can not lie! Those over ravers can’t deny, let’s ensure they aren’t littering the Altered Forest floor yo! Butt/Roach cans will be all over the festival grounds and clearly marked for easy use!
